.bar {
  clip-path: url(#clip-path);
}

.bar.too_weak {
  @apply bg-1-red;
  width: 25%;
}

.bar.weak {
  @apply bg-2-orange;
  width: 50%;
}

.bar.medium {
  @apply bg-3-yellow;
  width: 75%;
}

.bar.strong {
  @apply bg-neon-green;
  width: 100%;
}